
/* Variables */

	$color1: #f5f5f5;
	$border-color-1: #5da3e8;
	$border-color-2: #cccccc;

/* Helpers */

	/* apply a natural box layout model to all elements */
	*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}

	.cf:before,
	.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.cf:after {
	    clear: both;
	}

/* Styles */

	body {
		padding: 20px;
	}

	.text--center {
		text-align: center;
	}

	.grid {
		@extend .cf;
		padding: 0;

		@extend .grid;
		@extend .grid--framed;
		max-width: 500px;
		margin: 0px auto 40px;
	}

	.grid--bordered {
		border: 1px solid $border-color-1;
	}

	.grid--framed {
		@extend .grid--bordered;
		padding: 20px;
	}

		.grid__box {
			float: left;
			width: 60px;
			height: 40px;
			margin: 0 10px 10px 0;

			@extend .grid--bordered;
			border-color: $border-color-2;

			list-style-type: none;
			text-align: center;
			line-height: 40px;

			background: $color1;
		}

		.grid__container {
			float: left;
			width: 60px;
			height: 40px;

			list-style-type: none;
			text-align: center;
			line-height: 40px;
		}

	.grid--1 {

	}

	.grid--2 {
		max-width: 650px;
		.grid__box {
			display: inline-block;
			float: none;
		}
	}

/* Psuedo Selecto */

	.ps--first-row {
		background: orange;
	}

	.ps--last-row {
		background: red;
	}

	.ps--last-column {
		border: 2px solid green;
	}

	.ps--first-column {
		border: 2px solid purple;
	}

	.ps--faded {
		opacity: .6;
	}

	.ps--spinner {
		-webkit-animation: spin 2s linear infinite;
	}

@-webkit-keyframes spin {
	0% 		{ -webkit-transform: rotate(0deg); }
	25% 	{ -webkit-transform: rotate(10deg); }
	75% 	{ -webkit-transform: rotate(-10deg); }
	100% 	{ -webkit-transform: rotate(0deg); }
}